<div data-ng-controller="RegisterCtrl">
    <div ng-repeat="error in registerError">
        <div class="alert alert-danger animated fadeIn">{{error.msg}}</div>
    </div>
    <div class="alert alert-danger animated fadeIn" ng-show="usernameError">{{usernameError}}</div>

    <h1>Inscription</h1>
    <form ng-submit="register()" class="signup form-horizontal">
        <div class="form-group">
            <label for="name" class="col-md-4 control-label">Nom</label>
            <div class="col-md-8">
                <input id="name" type="text" name="name" placeholder="Nom" class="form-control" ng-model="user.fullname"/>
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-md-4 control-label">Login</label>
            <div class="col-md-8">
                <input id="username" type="text" name="username" placeholder="Login" class="form-control" ng-model="user.username"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-md-4 control-label">Mot de passe</label>
            <div class="col-md-8">
                <input id="password" type="password" name="password" placeholder="Mot de passe" class="form-control" ng-model="user.password"/>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="col-md-4 control-label">Confirmation du mot de passe</label>
            <div class="col-md-8">
                <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirmation du mot de passe" class="form-control" ng-model="user.confirmPassword"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" class="btn btn-primary">Créer un compte</button>&nbsp;
                ou&nbsp;<a ui-sref='auth.login' class="show-login">S'identifier</a>
            </div>
        </div>
    </form>
</div>
