<section data-ng-controller="UsersController" data-ng-init="find()">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="user in users" data-ng-class="{bgActiveUser: user._id === global.user._id}">
                <td>
                    {{user.username}}
                </td>
                <td>
                    {{user.name}}
                </td>
                <td>
                    {{user.email}}
                </td>
                <td>
                    {{user.role}}
                </td>
                <td>
                    <a data-ng-href="#!/users/{{user._id}}"><span class="glyphicon glyphicon-plus "></span></a>
                </td>
                <td>
                    <span class="glyphicon glyphicon-remove span-glyphicon" data-ng-click="remove($index)"></span>
                </td>
            </tr>
        </tbody>
    </table>
</section>
