<section data-ng-controller="UsersController" data-ng-init="find()">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>Modifier</th>
                <th>Ajouter</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="user in users">
                <td  data-ng-if="user !== global.user">
                    <input type="text" data-ng-model="user.username"/>
                </td>
                <td>
                    <input type="text" data-ng-model="user.name" />
                </td>
                <td>
                    <input type="text" data-ng-model="user.email" />
                </td>
                <td>
                    <input type="text" data-ng-model="user.role" />
                </td>
            </tr>
        </tbody>
    </table>
</section>
