<section data-ng-controller="QuestionsController" data-ng-init="find()">

        <div class="panel panel-primary">
        <div class="panel-heading">
            <strong>Liste des questions</strong>
            <div class="pull-right">
                Tags: <input type="text" ng-model="tags">
                <searchlimit></searchlimit>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Type</th>
                    <th>Réponses</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="question in questionsFiltered = (questions | filter:tagfilter | filter:typeFilter | limitTo:limitct | orderBy:'question')">
                    <td>
                        <a data-ng-href="#!/questions/{{question._id}}">{{question.question}}</a>
                    </td>
                    <td>
                        {{question.kind | getValueKind:kinds}}
                    </td>
                    <td>
                        {{question.answers.length}}
                    </td>
                    <td>
                        <span class="label label-info label-tag-question" data-ng-repeat="tag in question.tags">
                            {{tag}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h1 data-ng-hide="!questions || questions.length">Pas encore de question. <br> Pourquoi ne pas en <a href="/#!/questions/create">Créer une</a>?</h1>
</section>
