<section data-ng-controller="UsersController" data-ng-init="find()">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Utilisateur</th>
                    <th>Nom</th>
                    <th>Rôle</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="user in users">
                    <td data-ng-class="{bgActiveUser: user._id === global.user._id}">
                        <a ng-click="open($index)">{{user.username}}</a>
                    </td>
                    <td data-ng-class="{bgActiveUser: user._id === global.user._id}">
                        {{user.name}}
                    </td>
                    <td data-ng-class="{bgActiveUser: user._id === global.user._id}">
                        <span class="label label-info label-tag-question" data-ng-repeat="role in user.roles">{{role}}&nbsp;</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
